<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./stylesheets/usersList.css" />
</head>
<main>
    <div class="container">
        <div class="filter">
            <a href="/"><i class="fa-solid fa-angles-left"></i> Back to all Employees</a>
        </div>
        <div class="form-text form-title">
            <h2>New Employee</h2>
            <p>Use this form to add a new employees into your system</p>
        </div>
        <form id="update_Employee" method="POST">
            <div class="new_employee">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name" placeholder="Enter employee full name" required>
                </div>
                <div class="form-group">
                    <label for="Email">Email</label>
                    <input type="text" name="email" id="name" placeholder="Enter employee email address" required>
                </div>
                <div class="form-group">
                    <label for="Phone">Phone</label>
                    <input type="text" name="phone" id="name" placeholder="Enter employee phone number" required>
                </div>
                <div class="form-group">
                    <label for="Address">Address</label>
                    <input type="text" name="address" id="name" placeholder="Enter employee address" required>
                </div>
                <div class="form-group">
                    <label for="gender">Gender</label>
                    <div class="radio inline">
                        <input type="radio" name="gender" id="radio-2" value="Male" required>
                        <label for="radio-2" class="radio-label">Male</label>
                    </div>
                    <div class="radio inline">
                        <input type="radio" name="gender" id="radio-3" value="Female" required>
                        <label for="radio-3" class="radio-label">Female</label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="status">Status</label>
                    <div class="radio inline">
                        <input type="radio" name="status" id="radio-4" value="Active" required>
                        <label for="radio-4" class="radio-label">Active</label>
                    </div>
                    <div class="radio inline">
                        <input type="radio" name="status" id="radio-5" value="Inactive" required>
                        <label for="radio-5" class="radio-label">Inactive</label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn update">Add</button>
                </div>
            </div>
        </form>
        
    </div>
</main>