<h1>{{title}}</h1>
<div class="container">
    <form>
        <labal>Username</labal>
        <input type="email" alt="Username text bar" placeholder="Your unique ID">
        <label>Password</label>
        <input type="password" alt="Password text bar" placeholder="*********">
        <button>Reset</button>
        <button>Submit</button>
        <p><a href="resetPassword">Reset password</a></p>
    </form>
</div>