<h1>CRM Dashboard</h1>
<div>
    <ul>
        <li><a href="employee">Manage Employees</a></li>
        <li><a>Manage Customers</a></li>
        <li><a>Manage Products</a></li>
        <li><a>Manage contact logs</a></li>
    </ul>
</div>