<h1>CRM Dashboard</h1>
<div class="container">
    <form action="/" method="POST">
    <table class="table">
        <thead class="thead">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>@Email</th>
                <th>Phone</th>
                <th>Address</th>
                <th>Status</th>
            </tr>
        </thead>
    </table>
    </form>
</div>