<h1>Employee user management</h1>
<div class="container">
    <form action="/" method="POST">
    <table class="table">
        <thead class="thead">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>@Email</th>
                <th>Phone</th>
                <th>Address</th>
                <th>Gender</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Muhammad Zubair</td>
                <td>zubair@gmail.com</td>
                <td>07523926488</td>
                <td>1 Swiss Road, Manchester, M11 1AB</td>
                <td>Male</td>
                <td>Active</td>
                <td>
                    <a class="btn-update">
                        <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
                    </a>
                    <a class="btn-delete">
                        <span><i class="fas fa-trash-alt"></i></span>
                    </a>
                </td>
                
            </tr>
        </tbody>
    </table>
    </form>
</div>