<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./stylesheets/usersList.css" />
</head>
<h1>Employee user management table</h1><br>
<div>
    <button class="top-button border-shadow"><a href="addEmployee"><i class="fa-solid fa-user-plus"></i> Add new Employee</a></button>
</div>
<div class="container">
    <form action="/" method="POST">
    <table class="table">
        <thead class="thead">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Address</th>
                <th>Gender</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Muhammad Zubair</td>
                <td>zubair@gmail.com</td>
                <td>07523926499</td>
                <td>1 Swiss Road, Manchester, M11 1AB</td>
                <td>Male</td>
                <td>Active</td>
                <td>
                    <a class="btn update border-shadow">
                        <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
                    </a>
                    <a class="btn delete border-shadow">
                        <span class="text-gradient"><i class="fas fa-trash-alt"></i></span>
                    </a>
                </td>
                
            </tr>
        </tbody>
    </table>
    </form>
</div>