<head>
    <link rel="stylesheet" href="/public/stylesheets/index.css">
</head>
<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<div class="top-container">
    <div class="navbar">
        <nav>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/products"></a>Products</li>
            </ul>
        </nav>
    </div>
    <div class="nav-row">
        <div class="nav-col2">
            <img src="/public/images/logo.png">
        </div>
    </div>
</div>

