<head>
    <link rel="stylesheet" href="./stylesheets/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<div class="top-container">
    <div class="navbar">
        <nav>
            <ul>
                <p>Already a member?<i class="fa-regular fa-user"></i></p><li><a href="login">Login</a></li>
            </ul>
        </nav>
    </div>
    <div class="nav-row">
        <div class="nav-col2">
            <img src="/images/logo.png">
        </div>
    </div>
</div>
<h1>{{title}}</h1>
<p>Welcome to client relational management hub.</br>
Here you can create a client relational management (CRM) system for your company where you can create, update, edit and delete your customers detail, employees details, products details and contact logs. You can also assign authorised user to manage the state of the contact log as the enquiry progresses. In your unique CRM system you will be able to do the followings.</p>
<ul>
    <li>Manage your customer details</li>
    <li>Manage your employee details</li>
    <li>Manage your product details</li>
    <li>Manage your contact logs</li>
</ul>
<p>Why wait, click the button below to start managing your very own CRM system.</br></p>
<button><a href="registerCom">Create your CRM</a></button>

