<h1>{{title}}</h1>
<h3>Welcome to {{title}} form</h3><br>
<form>
    <label>Username</label>
    <input type="text" alt="Please enter your username" placeholder="Enter your email address here"></input>
    <label>Password</label>
    <input type="password" alt="Please enter your password" placeholder="**********"></input>
    <button type="reset">Reset</button>
    <button type="submit">Submit</button></br>
    <p><a href="resetPassword">Change or reset your password</a></p>
    <p>Do not have an account with us?<a href="register">register here.</a></p>
</form>