<h1>{{title}}</h1>
<h3>Welcome to {{title}} form</h3><br>
<form>
    <label>Username</label>
    <input type="text" alt="Please enter your username"></input>
    <label>Password</label>
    <input type="password" alt="Please enter your password"></input>
    <button type="submit">Submit</button>
</form>