<h1>{{title}}</h1>
<div class="register">
    <form>
        <label>Company Name</label>
        <input type="text" placeholder="Enter your Company name" alt="company name input bar" >
        <label>Company Address</label>
        <input type="text" placeholder="Address frist line" alt="company address input bar" >
        <!--Address second line-->
        <input type="text" placeholder="Address second line" alt="company address input bar" >
        <!--Address third line-->
        <input type="text" placeholder="Area/Town" alt="company address input bar" >
        <!--Address postcode line-->
        <input type="text" placeholder="Enter postcode" alt="company address input bar" >
        <label>Email address</label>
        <input type="email" placeholder="Enter your email" alt="email input bar" >
        <label>Password</label>
        <input type="password" placeholder="Enter a password" alt=" your password input bar">
        <label>Repeat password</label>
        <input type="password" placeholder="Repeat your password" alt="your password input bar">
        <button type="reset" alt="reset button">Reset</button>
        <button type="submit" alt="submit button"><a>Generate CRM-System</a></button>
    </form>
</div>