<h1>{{title}}</h1>
<div class="register">
    <form>
        <label>Full Name</label>
        <input type="text" placeholder="Enter your fullname" alt=" your full name input bar" >
        <label>Email</label>
        <input type="email" placeholder="Enter your email" alt=" your email input bar" >
        <label>Password</label>
        <input type="password" placeholder="Enter a password" alt=" your password input bar">
        <label>Repeat password</label>
        <input type="password" placeholder="Repeat your password" alt="your password input bar">
        <p>By registering your account you are agreeing to our<a href="legals"> Terms & Conditions</a>.</p>
        <button type="reset" alt="reset button">Reset</button>
        <button type="submit" alt="submit button">Submit</button>
        <br>
        <p>Already a member ? <a href="login">Login here</a></p>
    </form>
</div>
