<h1>Reset your password</h1>
<form>
    <label>Username</label>
    <input type="email" alt="Please enter your username" placeholder="Enter your email address here"></input>
    <button type="reset">Reset</button>
    <button type="submit">Submit</button></br>
    <p>Do not have an account with us?<a href="register">register here.</a></p>
</form>